{% extends "account/base.html" %}

{% block title %}Выход{% endblock title %}

{% block account_action %}
  <h1 class="text-center">Выход</h1>
{% endblock account_action %}


{% block account_content %}
  <p class="text-center">Уверены, что хотите уйти?</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-success w-100">Выход</button>
  </form>
{% endblock account_content %}
