{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Изменение пароля{% endblock title %}

{% block account_action %}
    <h1 class="text-center">Изменение пароля</h1>
{% endblock account_action %}

{% block account_content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center">Ссылка на изменение пароля больше неактивна.</p>
        <p class="text-center"><a href="{{ passwd_reset_url }}">Запросить</a> новую ссылку.</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="Изменить пароль" class="btn btn-success w-100"/>
        </form>
    {% endif %}    
{% endblock account_content%}
