{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Изменение пароля{% endblock title %}

{% block account_action %}
    <h1 class="text-center">Изменение пароля</h1>
{% endblock account_action %}

{% block account_content %}
    <p class="text-center">Для получения ссылки на изменение пароля введите адрес вашей почты.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Восстановить пароль" class="btn btn-success w-100"/>
    </form>
{% endblock account_content%}
